@model Logic.ViewModel.SchoolView

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>School</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.School_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.School_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Is_joined)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Is_joined)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Added_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Added_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Added_by_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Added_by_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stage_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stage_name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.School_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
