@model IEnumerable<Schedules_classes.Semester>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is_active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Added_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is_active)
            </td>
            <td>
                @{
                    var date = item.Added_date.ToString("MM/dd/yyyy");
                }
                @Html.DisplayFor(modelItem => date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Full_name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Semester_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Semester_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Semester_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
