@model IEnumerable<Schedules_classes.Channel>

<div class="row">
    <div class="col-10">
        <h2 class="text-info">قائمة الإعلانات</h2>
    </div>
    <div class="col-2">
        <a asp-action="Create" class="btn btn-info form-control text-white align-self-end">
            إعلان جديد
        </a>
    </div>
    <div class="col-12 border p-3">
        <table id="Channels_table" class="table table-striped table-bordered0" style="width:100%">
            <thead>
                <tr>
                    <th>الاسم</th>
                    <th>تاريخ الإضافة</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                 {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Added_by)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Added_date)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                 }
            </tbody>
        </table>
    </div>
</div>

