@model IEnumerable<Schedules_classes.Channel>

@{
    ViewData["Title"] = "قائمة القنوات";
}

<h1>القائمة</h1>

<p>
    <a asp-action="Create">إضافة قناة</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                الاسم
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Added_date)*@
                تاريخ الإضافة
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Added_by)*@
                أضيف بواسطة
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Added_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Added_by_name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Channel_id">تحرير</a> |
                <a asp-action="Details" asp-route-id="@item.Channel_id">تفاصيل</a> |
                <a asp-action="Delete" asp-route-id="@item.Channel_id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
