@model IEnumerable<Logic.ViewModel.OrderView>

@{
    ViewData["Title"] = "قائمة الطلبات";
}

<h3>@ViewBag.Semester_title</h3>

<div class="row d-flex align-content-end">
    <div class="col-3 display: flex; align-items: center;">
        <form asp-action="GetAllSemester">
            <div class="form-group">
                <label name="Semester_id" class="control-label"></label>
                <select name="Semester_id" class="form-control" asp-items="ViewBag.Semester_id" id="Semester_select" onchange="this.form.submit()" placeholder="اختر الفصل الدراسي">
                </select>
            </div>
        </form>
    </div>

    @if (Model != null)
    {
        <div class="col-3" style="display: flex; align-items: center;">
                <form asp-action="Create" method="get" class="">
                    <input hidden name="Semester_id" class="form-control" value="@ViewBag.id" id="Semester_select" />
                    <input type="submit" value="طلب جديد" class="btn btn-primary" />
                </form>
        </div>
    }
</div>
<div id="PlaceHolder"></div>
@if (Model != null)
{


    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    المدرسة
                </th>
                <th>
                    العميل
                </th>
                <th>
                    تاريخ الطلب
                </th>
                <th>
                    المعلمين
                </th>
                <th>
                    الإجمالي
                </th>
                <th>
                    الخصم
                </th>
                <th>
                    الصافي
                </th>
                <th>
                    حراج
                </th>
                <th>
                    الربح
                </th>
                <th>
                    المدفوع
                </th>
                <th>
                    الباقي
                </th>
                <th>
                    خيارات
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.School_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client_name)
                </td>
                <td>
                    @{
                        var date = item.Order_date.ToString("MM/dd/yyyy");
                    }
                    @Html.DisplayFor(modelItem => date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number_of_teachers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total_price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total_after_discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Haraj_percentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Net_profit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paid_amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remaining_amount)
                </td>
                <td>
                    <button type="button" class="btn p-0 border-0 bg-transparent align-baseline" data-id="@item.Order_id" data-toggle="ajax-modal" data-target="#AddPaymentModal" data-url="@Url.Action("AddPayment")">
                        <i class="fas fa-dollar-sign text-success"></i>
                    </button> |
                    <a asp-action="Details" asp-route-id="@item.Order_id" style="text-decoration: blink;">
                        <i class="fas fa-info-circle text-info"></i>
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.Order_id">
                        <i class="far fa-trash-alt text-danger"></i>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>

}
@section Scripts{
    <script src="~/js/OrderAjax.js"></script>
}

